@font-face {
    font-family: BebasNeue;
    src: url(assets/font/BebasNeue-Regular.woff) format("woff");
}

@font-face {
    font-family: Montserrat;
    src: url(assets/font/Montserrat-Medium.ttf) format("truetype");
}