<div class="container">
    <header class="row justify-content-between">
        <a routerLink="/" class="h2 deco-none">Liar's Dice</a>
        <a class="my-1" href="http://ryangraham.ca"><img src="assets/rg-logo.png" width="32px" height="32px"></a>
    </header>
    <main>
        <router-outlet></router-outlet>
    </main>
    <footer>
        <a href="https://twitter.com/RyanRoundhouse"><fa-icon [icon]="faTwitter" size="2x"></fa-icon></a>
        <a class="ml-2" href="https://github.com/ryanroundhouse/"><fa-icon [icon]="faGithub" size="2x"></fa-icon></a>
        <a class="ml-2" href="https://www.linkedin.com/in/ryandouglasgraham/"><fa-icon [icon]="faLinkedIn" size="2x"></fa-icon></a>
        <a class="ml-2" href="https://hub.docker.com/repository/docker/ryanroundhouse/liar-server"><fa-icon [icon]="faDocker" size="2x"></fa-icon></a>
    </footer>
</div>