header {
    grid-column: 1 / 4;
}

main {
    grid-column: 2 / 3;
}

footer {
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 4;
}

a{
    color: #F78D1E;
    font-family: 'BebasNeue', 'system-ui', sans-serif;
}

#title{
    font-weight: bold;
    letter-spacing: 2px;
}