<div class="parent">
    <div *ngFor='let player of players' [className]="selectedPlayer === player.userId ? 'selected' : ''">
        <img src="{{'assets/img/silhouette1.png'}}"/><br/>
        <span *ngIf="!claim || (claim && claim.playerId !== player.userId)">{{ player.name }}</span>
        <span *ngIf="player.userId === playerId && (!claim || (claim && claim.playerId !== player.userId))">(You)</span>
        <liar-claim *ngIf="claim && claim.playerId === player.userId" [claim]="claim" [players]="players" [playerId]="playerId"></liar-claim>
    </div>
</div>