<div class="row justify-content-end" *ngIf="gameId">
    <button (click)="onClickLogout()"><fa-icon [icon]="faSignOutAlt"></fa-icon></button>
</div>
<!-- Game screen -->
<div *ngIf="gameId">
    <div *ngIf="!gameStarted">
        <div *ngIf="gameId" class="m-3">
            <span class="mr-2">Send someone this link to join:</span>
            <input type="text" id="gameIdBox" class="my-3" [(ngModel)]="joinLink" #userinput readonly>
            <button class="ml-2" (click)="onClickCopyGameLink(userinput)"><fa-icon [icon]="faClipboard"></fa-icon></button><br/>
            <span class="mr-2">Change your name:</span>
            <input type="text" id="nameBox" class="my-3" [(ngModel)]="name" #userName>
            <button class="ml-2" (click)="onClickSetName(userName.value)">Set Name</button><br/>
        </div>
    </div>
    <div *ngIf="players.length > 0">
        <liar-players [playerId]="playerId" [selectedPlayer]="playerTurn" [claim]="lastClaim" [players]="players" ></liar-players>
    </div>
    <br/>
    <br/>
    <h3 class="mainMessage">{{ mainMessage }}</h3>
    <div *ngIf="gameStarted">
        <liar-roll [dice]="dice"></liar-roll>
        <liar-selection *ngIf="yourTurn" [minQuantity]="minQuantity" (claim)="onClaim($event)"></liar-selection><br/><br/>
    </div>
    <div *ngIf="!gameStarted && gameId" class="row justify-content-around">
        <button (click)="onClickStartGame()">Start Game</button>
    </div>
    <div *ngIf="debug">
        <br/>
        <br/>
        <ul>
            <li *ngFor='let message of messages'>
                {{ message.messageType }} - {{ message.message | json }}
            </li>
        </ul>
    </div>
</div>
<div *ngIf="gameOver">
    <h2>{{gameOverMessage}}</h2>
    <button (click)="onClickBackToLobby()">Back to Lobby</button>
</div>